@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Roboto:wght@300;500&display=swap');

html{
    padding: 80px;
    background-color: #e5e5e5;
    font-family: 'Montserrat', 'Roboto', sans-serif;
}

body{
    background-color: #fff;
}
section{
    border-top: 40px solid #e5e5e5;
}

.container{
    width: 1680px;
    margin: 0 auto;
}

@import './block/start';
@import './block/company';
@import './block/three';
@import './block/four';
@import './block/last';