.last{
    padding: 40px 0 40px 0;
    &__title{
        font-family: 'Roboto';
        font-style: normal;
        margin-bottom: 40px;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
    }
    form{
        margin-top: 46px;
        display: flex;
        flex-direction: column;
        width: 420px;
        margin: 0 auto;
    }
    input{
        border: 1px solid #000000;
        background: #FFFFFF;
        border-radius: 5px;
        margin-top: 16px;
        padding: 20px 30px;
    }
    button{
        margin-top: 24px;
        background: #000000;
        border-radius: 5px;
        padding: 21px 25px;
        text-align: center;
        color: #fff;                
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        align-items: center;
        text-align: center;
    }
}